.product {
    display: grid;
    grid-template-columns: 1fr 9rem auto;
    gap: 2rem;
    
    .title {
        text-align: left;
    }
    
    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .description {
        display: flex;
        flex-direction: column;
    }
    
    .order-product {
        justify-self: center;
        align-self: center;
    }
}