.content {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 6% 0%;
    flex-direction: column;    
    
    & > .container {
        display: grid;
        overflow: auto;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}
