.content {
    display: flex;
    padding: 2% 6%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../IMG/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}
