.orders {
    background-color: rgba(43, 43, 35, 0.905);
    padding: 0 2%;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: auto;

    & > .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        gap: .6rem;
        height: 100%;
        overflow: auto;
    }
    
    .list {
        overflow-y: scroll;
        list-style: none;
    }
    
    .order-state {
        display: grid;
        row-gap: .6rem;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .pay-container {
        display: flex;
        gap: .2rem;
    }

    .mount {
        width: 100%;
    }
}